<template>
  <style>
    header {
      background-color: #333;
      color: gold;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.25em;
    }
    img {
      height: 64px;
      width: 64px;
    }
    h1 {
      padding: 0.25em;
      color: #fff;
      flex-basis: 50%;
      display: flex;
      justify-content: center;
    }
  </style>
  <header>
    <img id="logo" src="#" alt="Logo" />
    <h1 id="titulo"></h1>
    <slot></slot>
  </header>
</template>
<script>
  const template = document.currentScript.ownerDocument.querySelector('template').content;

  class PageHeader extends HTMLElement {
    constructor() {
      super();
      this.attachShadow({mode:'open'});
      const content = document.importNode(template, true)
      this.shadowRoot.appendChild(content);
    }
    
    get logo() {
      return this._logo;
    }
    
    set logo(logo) {
      this._logo = logo;
    }

    get titulo() {
      return this._titulo;
    }
    
    set titulo(titulo) {
      this._titulo = titulo;
    }

    setProperties() {
      this._logo = '';
      this._titulo = '';
    }

    parseAttributes() {
      if (this.hasAttribute('logo')) {
        this._logo = this.getAttribute('logo');
        this.shadowRoot.querySelector('#logo').src = this._logo;
      }
      if (this.hasAttribute('titulo')) {
        this._titulo = this.getAttribute('titulo')
        this.shadowRoot.querySelector('#titulo').innerHTML= this._titulo;
      }
    }

    connectedCallback() {
      this.root = this;
      this.setProperties();
      this.parseAttributes();
    }

    disconnectedCallback() {
      console.log('DISCONECTED ELEMENT');
    }

  }
  customElements.define('page-header', PageHeader);
</script>